{% extends 'base.html.twig' %}

{% block title %}Hello BoutiqueController!{% endblock %}

{% block body %}
    <div class="card col-md-12">
    <div class="card-header">
        <h3> <i class="fas fa-store"></i>
{#            Boutique :#}
            {% trans %} boutique.index.mot_boutique {% endtrans %}

            {{ categories | length }}

            {% trans %} boutique.index.mot_rayon {% endtrans %}

{#            Rayon(s)#}
        </h3>
    </div>
    <div class="card-body row">
        {% for categorie in categories %}
            <div class="col-md-3">
                <div class="card clickable"
                     onclick="location = '{{ path('app_boutique_rayon', {'idCategorie': categorie.id}) }}'">
                    <img src="{{ asset(categorie.visuel) }}"
                         class="card-img-top" alt="{{ categorie.libelle }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ categorie.libelle }}</h4>
                        <p class="card-text">
                            <i>{{ categorie.texte}}</i>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
